<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>용사 상세 정보</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>용사 상세 정보</h1>
    <div id="soldierInfo"></div>
    <button id="recordButton">면담 기록</button>
    <button id="backButton">목록으로</button>
    <script src="/scripts/auth/logout.js"></script> 
    <script src="/scripts/soldiers/soldierDetail.js"></script> 
</body>

</html>